<ion-view view-title="Minha Pagina">
    
    <ion-tabs class="tabs tabs-royal tabs-icon-only static" style=" margin-top:44px">
        <a ui-sref="app.cards" class="tab-item">
            <i class="icon ion-ios-people-outline"></i>
        </a>
        <a ui-sref="app.publications" class="tab-item">
            <i class="icon ion-ios-book-outline"></i>
        </a>
        <a ui-sref="app.notifications" class="tab-item">
            <i class="icon ion-ios-bell-outline"></i>
        </a>
        <a ui-sref="app.conversation" class="tab-item">
            <i class="icon ion-ios-chatboxes-outline"></i>
        </a>
    </ion-tabs>
    
    <ion-content ng-class="{expanded:$scope.isExpanded}" style=" margin-top:48px">
        <div class="hero slide-up" style="background-image: url('img/login.jpg'); height:112px">
            <div class="content">
                <div class="avatar" style="background-image: url('img/diogo-wernik.jpg');"></div>
            </div>
        </div>
        <div class="list animate-fade-slide-in-right">
          <div class="nil-pub">
            <p>Ainda a definir o que será aqui</p>
          </div>
        </div>
    </ion-content>
</ion-view>
